body {
  margin: 0px;
}

ul {
  font-size: 20px;
  /* border-right: solid gray 3px; */
  margin: 0px;
  width: 200px;
  padding: 40px;
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: olivedrab;
}

.grid {
  display: grid;
  grid-template-columns: 285px 1fr;
}

#blog_title {
  font-size: 50px;
  text-align: center;
  /* border-bottom: solid gray 3px; */
  padding: 20px;
  margin: 0px;
}

#nav li a {
  color: rgb(46, 92, 179);
}

#intro {
  padding: 15px;
}

#grid_container {
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-template-rows: 1fr 1fr;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  border-bottom: solid gray 3px;
}

nav {
  border-right: soid gray 3px;
  margin: ;
}
